/***Google font - poppins***/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  padding: 70px 100px;
}

.dark {
  background-color: #000;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/***navbar start***/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 100px;
  background: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.navbar .logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px #ddd;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.navbar .nav-links li {
  list-style: none;
  position: relative;
}
.nav-links a,
.dark-mode-toggle {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 4px;
  transition: all 0.3s ease;
  background: none;
}

.nav-links a:hover,
.dark-mode-toggle:hover,
.nav-links a:focus-visible,
.dark-mode-toggle:focus-visible {
  color: #0056b3;
}

.hamburger-menu {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
  transition: all 0.3s ease;
}

.hamburger-menu:focus-visible {
  outline: 3px solid #007bff;
  border: #000;
}

body.dark .hamburger-menu {
  color: #fff;
}

body.dark .navbar {
  background: #000;
  color: #fff;
}
body.dark .nav-links {
  background: #000;
  color: #fff;
}

body.dark .nav-links a,
body.dark .dark-mode-toggle {
  color: #fff;
}

body.dark .nav-links a:hover {
  background-color: #333;
}

.nav-links .dark-mode-toggle {
  display: none;
}

/**continue above**/

.dark .navbar {
  background: #000;
  color: #fff;
}

.navbar .logo {
  font-size: 1.8rem;
  font-weight: 600;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links a:focus-visible {
  outline: 3px solid #007bff;
}

.navbar .nav-links i,
.dark-mode-toggle i {
  font-size: 1.5rem;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 10px;
  cursor: pointer;
  border: solid 1px gray;
  border-radius: 50%;
}

.nav-links a:hover,
.nav-links a:focus-visible {
  color: #0056b3;
  background-color: #f0f8ff;
}
/***navbar end***/

/***hero section start***/
.image-gallery-hero {
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-gallery-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.image-gallery-hero .content {
  color: #fff;
  position: relative;
  z-index: 2;
  padding: 50px;
  text-align: center;
}

.image-gallery-hero h1 {
  font-size: 2.65rem;
  font-weight: 600;
  margin-top: 50px;
}

.image-gallery-hero p {
  font-size: 1.2rem;
  margin-top: 8px;
}

.image-gallery-hero .search-box {
  height: 55px;
  margin: 45px 0;
  position: relative;
}

.search-box i {
  position: absolute;
  left: 20px;
  top: 50%;
  font-size: 1.4rem;
  color: #8d8d8d;
  transform: translateY(-50%);
}

input,
button,
i {
  outline: none;
  border: none;
  border-radius: 5px;
}

.image-gallery-hero input {
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  padding-left: 55px;
}
/***hero section end***/

/***gallery section start***/
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}
.gallery .card {
  position: relative;
  display: flex;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.gallery .card.visible {
  opacity: 1;
  transform: translateY(0);
}

.gallery .card .details {
  position: absolute;
  bottom: -100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  transition: bottom 0.1s ease;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}
.gallery .card:hover .details {
  bottom: 0;
}
.photographer {
  color: #fff;
  display: flex;
  align-items: center;
}
.photographer i {
  font-size: 1.4rem;
  margin-right: 10px;
}
.details .photographer span {
  font-size: 1.05rem;
}

.card .details button {
  cursor: pointer;
  padding: 3px 8px;
  font-size: 1.3rem;
  background: #fff;
  color: gray;
}

.like-collection .fa-solid {
  color: #c11c84;
  font-size: 1.3rem;
}

.like-collection .fa-regular {
  color: gray;
  font-size: 1.3rem;
}

.gallery .card .like-collection {
  position: absolute;
  top: -100px;
  right: 16px;
  display: flex;
  align-items: center;
  transition: bottom 0.1s ease;
  justify-content: space-between;
}
.gallery .card:hover .like-collection {
  top: 8px;
}
.gallery .card .like-collection button {
  cursor: pointer;
  color: gray;
  padding: 3px 8px;
  font-size: 1.5rem;
  background: #fff;
  margin: 0.3rem;
}

.gallery img {
  width: 100%;
  height: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.button-container .load-more {
  margin: 0 0 50px;
  font-size: 1.2rem;
  padding: 10px 20px;
  background-color: #007bff;
  background: linear-gradient(to bottom right, purple, #007bff);
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s ease-in-out;
}
.button-container .load-more.disabled {
  opacity: 0.6;
  pointer-events: none;
}

.button-container .load-more:hover {
  background: linear-gradient(to bottom right, #0056b3, purple);
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/***gallery section end***/

/***light box start***/
.lightbox {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 100%;
  display: none;
  background: rgba(0, 0, 0, 0.65);
}
.lightbox.show {
  display: block;
}
.lightbox .wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  padding: 20px;
  max-width: 850px;
  background: #fff;
  border-radius: 5px;
  transform: translate(-50%, -50%);
}

.wrapper header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .photographer {
  color: #333;
}

header .photographer i {
  font-size: 1.7rem;
}

header .photographer span {
  font-size: 1.2rem;
}

header .buttons i {
  width: 40px;
  height: 40px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  line-height: 40px;
  background: linear-gradient(to bottom right, purple, #007bff);
  font-size: 1.2rem;
  display: inline-block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

header .buttons .fa-solid {
  color: #c11c84;
  font-size: 1.3rem;
}

header .buttons .fa-regular {
  color: #fff;
  font-size: 1.3rem;
}

header .buttons i:hover {
  background: linear-gradient(to bottom right, #0056b3, purple);
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.buttons i:last-child {
  margin-left: 10px;
  background: #6c757d;
}
.buttons i:last-child:hover {
  background: #6c757d;
}
.preview-img {
  display: flex;
  margin-top: 25px;
  margin-bottom: 25px;
  justify-content: center;
}

.wrapper .preview-img .img {
  max-height: 65vh;
  max-width: 90vh;
}

.preview-img .img img {
  width: 100%;
  object-fit: contain;
  height: 100%;
}

/***light box end***/

/***footer start***/

footer {
  background: linear-gradient(to bottom right, #03254a, purple);
  /*background: rgb(10, 10, 10);*/
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 40px 20px;
  position: relative;
  min-height: 200px;
}
.dark footer {
  background: #0b0b0b;
}

.footer-content {
  text-align: center;
  margin-bottom: 30px;
}

.footer-content img {
  width: 60px;
  margin-bottom: 10px;
  border-radius: 50%;
}

.footer-content h2 {
  font-size: 1.8rem;
  margin: 10px 0;
  font-weight: bold;
}

.footer-content p {
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto;
  line-height: 1.6;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  border-top: 1px solid #555;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

.footer-links li {
  margin: 0;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
}

.footer-links a:hover {
  color: #00aaff;
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 15px;
  padding: 0;
  list-style: none;
}

.social-icons li {
  margin: 0;
}

.social-icons a {
  color: #fff;
  font-size: 1.5rem;
  display: inline-block;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00aaff;
  scale: calc(1.2);
}

.footer-copyright {
  text-align: center;
  margin-top: 30px;
  font-size: 0.9rem;
  padding-top: 10px;
  color: #aaa;
}

.footer-copyright p {
  margin: 0;
}

/***footer end***/

/***media query start***/
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background: #fff;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    padding: 30px 0;
    border-top: 1px solid #ddd;
  }

  .nav-links.open {
    display: flex;
  }
  body.dark .nav-links {
    background: #0c0c0c;
    color: #fff;
  }

  .hamburger-menu {
    display: block;
  }

  .image-gallery-hero h1 {
    margin-top: 100px;
    font-size: 1.7rem;
  }
  .dark-mode-toggle {
    display: none;
  }

  .image-gallery-hero input {
    font-size: 1rem;
  }
  .gallery {
    padding: 50px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
  .image-gallery-hero input {
    font-size: 1rem;
  }

  .navbar {
    padding: 10px 70px;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .image-gallery-hero h1 {
    margin-top: 100px;
    font-size: 1.7rem;
  }
  .image-gallery-hero {
    height: 60vh;
  }

  .image-gallery-hero p {
    font-size: 1rem;
  }
  .image-gallery-hero input {
    font-size: 1rem;
  }

  .gallery {
    padding: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  .navbar {
    padding: 10px 50px;
  }
}

@media (max-width: 768px) {
}
/***media query end***/
