/*Google font - poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/***hero section style***/
.image-gallery-hero {
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.image-gallery-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.image-gallery-hero .content {
  color: #fff;
  position: relative;
  z-index: 2;
  padding: 50px;
  text-align: center;
}

.image-gallery-hero h1 {
  font-size: 2.65rem;
  font-weight: 600;
  margin-top: 50px;
}

.image-gallery-hero p {
  font-size: 1.2rem;
  margin-top: 8px;
}

.image-gallery-hero .search-box {
  height: 55px;
  margin: 45px 0;
  position: relative;
}

.search-box i {
  position: absolute;
  left: 20px;
  top: 50%;
  font-size: 1.4rem;
  color: #8d8d8d;
  transform: translateY(-50%);
}

.image-gallery-hero input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 1.1rem;
  padding-left: 55px;
  border-radius: 5px;
}
